{% extends "encuesta/base.html" %}
{% load i18n %}

{% block twtitle %}Salario de profesionistas de software en México{% endblock %}
{% block ogtitle %}Salario de profesionistas de software en México{% endblock %}
{% block metadesc %}Estadísticas de salario de profesionistas de software en México de acuerdo a la encuesta de salarios de Software Guru.{% endblock %}
{% block ogdesc %}Estadísticas de salario de profesionistas de software en México de acuerdo a la encuesta de salarios de Software Guru.{% endblock %}
{% block twimg %}https://salarios.sg.com.mx/static/salariomx-card.png{% endblock %}
{% block ogimg %}https://salarios.sg.com.mx/static/salariomx-card.png{% endblock %}


{% block content %}
  <section class="content">
    <h1>Encuesta de salarios SG: Resultados previos</h1>
    <p>Aquí puedes ver algunas estadísticas básicas en base a las respuestas obtenidas hasta el momento.</p>
    <p class="font-weight-bold">Consideraciones</p>
    <ul>
      <li>Estos datos son preliminares y todavía no están auditados. Los resultados auditados se publicarán en un reporte a finales de enero de 2020.</li>
      <li>Solo incluímos estadísticas para países con al menos 300 respuestas. Por el momento, el único país que cubre dicho criterio es México.</li>
      <li>Los datos con los que se genera esta página se actualizan cada 15 minutos a partir de las respuestas a la encuesta.</li>
    </ul>

    <hr>

    <div class="plots p-3">
    {% for div in divs %}
      {{ div | safe }}
    {% endfor %}
    </div>
  
    <hr>

    <p>
    {% blocktrans %}Si encuentras algún error o tienes alguna retroalimentación respecto a esta encuesta 
    te agradeceremos nos contactes utilizando el enlace correspondiente en el menú.
    {% endblocktrans %}
    </p>
    <p>Si todavía no lo has hecho, entonces <a class="btn btn-danger" href="{% url 'encuesta:start' %}" role="button">{% trans "Contesta la encuesta" %}</a>
    </p>

  </section>
{% endblock %}

{% block extrascripts %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
    {{ script | safe }}
{% endblock %}
