{% extends "encuesta/base.html" %}
{% load i18n %}

{% block title %}{% trans "Encuesta de Salarios SG" %}{% endblock %}

{% block content %}
  <section class="jumbotron">
    <h1 class="jumbotron-heading">{% trans "Bienvenida(o) a la encuesta de Salarios de Software Guru" %}</h1>
    <p class="lead">{% blocktrans %}Esta es una mini aplicación que hemos preparado para que puedas contestar nuestra encuesta de salarios
    y con ello podamos generar un reporte público con estadísticas sobre los salarios de profesionistas de software en nuestra región.{% endblocktrans %}</p>
    <p class="lead">{% blocktrans %}Por el momento solo está habilitado el cuestionario, pero pronto habilitaremos 
    la capacidad de ver algunas estadísticas en vivo.{% endblocktrans %}</p>

    <p class="text-center"><a class="btn btn-danger" href="{% url 'encuesta:start' %}" role="button">{% trans "Comenzar encuesta" %}</a>
    </p>
  </section>                                          
{% endblock %}

