{% extends "encuesta/base.html" %}

{% block title %}Encuesta de salarios: Privacidad{% endblock %}

{% block content %}

<section class="jumbotron">
    <h1 class="jumbotron-heading">Privacidad de datos</h1>
    <p>En atención a la Ley Federal de Protección de Datos Personales en Posesión de Particulares vigente en México le informamos lo siguiente:</p>
    <ul>
    <li>Este es un servicio provisto por Brainworx S.A. de C.V. (Software Guru), con domicilio en San Francisco 238 Altos, Col. Del Valle, CDMX. La persona responsable por la protección de los datos manejados en este sitio es Pedro Galván Kondo.</li>
    <li>Este sitio web se utiliza de forma anónima y no captura ninguna información que permita identificar 
    al usuario.</li>
    </ul>
</section>

{% endblock %}    