{% extends "encuesta/base.html" %}

{% block content %}

<section class="jumbotron">
    <h1 class="jumbotron-heading">Gracias</h1>
    <p class="lead">Muchas gracias por contestar la encuesta.</p>

    <h3>¿Cómo ver resultados?</h3>
    <ul>
    <li><a href="https://salarios.sg.com.mx/stats/preview">Resultados previos</a> en tiempo real (directo de las respuestas recibidas en los últimos 3 meses, sin validar).
    </li>
    <li>En Febrero 2022 publicaremos un reportaje gratuito en <a href="https://sg.com.mx">https://sg.com.mx</a> con el análisis de los resultados validados.</li>
    <li>También compartiremos una copia de los datos fuente <a href="https://github.com/softwareguru/salarios-notebook">por medio de este repositorio</a> que contiene ejemplos de cómo generar tus propias estadísticas.</li>
    </ul>
</section>

{% endblock %}    